:root {
  --body: #ffffff;
  --body-second: #ffffff;
  --black-white: #000;
  --gray-hover: hsla(0, 0%, 0%, 0.06);
  --gray-second: rgb(112, 112, 112);
  --gray-dark: #535e73;
  --gray-light: #eeeff1;
  --light-dark: #ffffff;
}

.dark-theme {
  --body: #19212E;
  --body-second: #2E3440;
  --black-white: #ffffff;
  --gray-second: rgb(176, 176, 176);
  --gray-light: #2E3440;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--body);
  font-family: poppins;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 0;
}

.container {
  width: 100%;
  padding-top: 3rem;
}

/* H2 as Title of Section */
h2 {
  font-size: 33px;
  font-weight: bold;
  color: var(--black-white);
  margin-bottom: 3rem;
}

/* ==================== NAVBAR =================== */
nav {
  background: var(--body-second);
}

nav.active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 1px -2px,
    rgba(0, 0, 0, 0.3) 0px 1px 7px -5px;
}

.navitem {
  color: var(--black-white);
}

.navitem:hover {
  color: var(--black-white);
  background: var(--gray-hover);
}

.navbar-toggler-icons {
  color: var(--black-white);
}

.dark i {
  background: var(--gray-dark);
  color: #fff;
  cursor: pointer;
}
/* ==================== END =================== */

/* ==================== HOME =================== */
.home-name {
  color: var(--black-white);
}

.home-search {
  color: var(--black-white);
  background: var(--body-second);
  width: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 1px 7px -2px;
}

.home-time {
  color: var(--black-white);
  font-size: 14px;
}

.home-search-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  display: inline-block;
}

.btn-modal,
.btn-modal:hover,
.btn-modal:active,
.btn-modal:focus {
  text-decoration: none;
  background: var(--gray-dark);
  color: #ffffff;
}

.modal-contact {
  background: var(--body-second);
}

.btn-modal-close {
  padding: 0;
  left: 20px;
  border: 0;
  background: none;
}

.home-contact-icon {
  color: var(--black-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.home-contact-icon:hover {
  color: var(--black-white);
  text-decoration: underline;
}

.home-btn,
.home-btn:hover {
  color: var(--black-white);
}
/* ==================== END =================== */

/* ==================== ABOUT =================== */
.about-image {
  width: 100%;
  max-width: 500px;
}

.about-text {
  color: var(--black-white);
  font-size: 17px;
  line-height: 29px;
}
/* ==================== END =================== */

/* ==================== SKILLS =================== */
.skills-icon {
  font-size: 40px;
}
/* ==================== END =================== */

/* ==================== PROJECT =================== */
.project-title-small {
  color: var(--black-white);
  font-size: 20px;
}

.project-wrap {
  display: none;
}

.project-card {
  background: var(--body-second);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none;
}

.project-btn-load,
.project-btn-load:hover {
  color: var(--black-white);
}

.project-wrap:nth-child(1),
.project-wrap:nth-child(2),
.project-wrap:nth-child(3) {
  display: inline-block;
}

.project-card img {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.project-card:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project-card-date {
  font-size: 13px;
}

.project-card-body h3 {
  color: var(--black-white);
}

.project-card-icon a {
  color: var(--gray-dark);
}

.project-card:hover a,
.project-card-icon a:hover {
  color: var(--black-white);
}
/* ==================== END =================== */

/* ==================== ACTION =================== */
.action-title {
  line-height: 45px;
}

.act-btn,
.act-btn:hover,
.act-btn:active,
.act-btn:focus {
  background: var(--gray-dark);
  color: #ffffff;
}

.action-img {
  width: 100%;
  max-width: 300px;
}
/* ==================== END =================== */

/* ==================== FOOTER =================== */
footer {
  background: var(--gray-light);
  color: var(--black-white);
}

.footer a {
  color: var(--black-white);
  text-decoration: none;
  font-size: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-credit {
  font-size: 15px;
}
/* ==================== END =================== */

/* ==================== MEDIA QUERY =================== */
@media (max-width: 767px) {
  .nav-item {
    margin-right: 0 !important;
  }

  .dark {
    text-align: end;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  /* H2 as Title of Section */
  h2 {
    font-size: 25px;
  }

  .home-search,
  .home-time {
    width: 100%;
  }

  .home-search-text {
    max-width: 80%;
  }

  #home .btn-modal {
    font-size: 13px;
  }

  .about-text {
    font-size: 14px;
    line-height: 27px;
  }

  .project-title-small {
    font-size: 16px;
  }

  .project-card-date {
    font-size: 11px;
  }

  .action-img {
    max-width: 200px;
  }

  #action .act-btn {
    font-size: 14px;
  }

  .footer a {
    font-size: 13px;
  }

  .home-time,
  .footer-credit {
    font-size: 12px;
  }
}
